Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, pytest, coverage-per-file

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: "Ruff:\t\t\tFormat Python"
        entry: ruff format
        language: system
        types: [python]
        alias: format

      - id: mdformat
        name: "mdformat:\t\tFormat Markdown"
        entry: mdformat
        language: system
        types: [markdown]
        alias: format

      - id: pretty-format-yaml
        name: "Pretty-format-yaml:\tFormat YAML"
        entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
        language: system
        types: [yaml]
        alias: format

      - id: ruff
        name: "Ruff:\t\t\tLint Python"
        entry: ruff check --fix
        language: system
        types: [python]
        alias: lint

      - id: mypy
        name: "mypy:\t\t\tType-check"
        entry: mypy --config-file=pyproject.toml .
        language: system
        types: [python]
        pass_filenames: false
        alias: lint

      - id: bandit
        name: "Bandit:\t\t\tScan for security issues"
        entry: bandit -q -r src scripts
        language: system
        types: [python]
        pass_filenames: false
        alias: lint

      - id: pytest
        name: "pytest:\t\t\tRun tests with coverage"
        entry: pytest --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        alias: tests

      - id: coverage-per-file
        name: "Check-coverage:\t\tEnforce per-file coverage"
        entry: python scripts/check_coverage.py
        language: system
        types: [python]
        pass_filenames: false
        alias: tests

tests: isolate registry state
  tests/test_actions_registry.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

docs(AGENTS): deduplicate linting policy to root guide
  AGENTS.md
Due: mdformat

refactor: address ruff lints and logging
  scripts/check_coverage.py
  scripts/check_locales.py
  scripts/get_version.py
  scripts/prune_releases.py
  src/pdf_toolbox/builtin/images.py
  src/pdf_toolbox/builtin/optimise.py
  src/pdf_toolbox/builtin/unlock.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/paths.py
  src/pdf_toolbox/utils.py
  src/pdf_toolbox/validation.py
  tests/conftest.py
  tests/test_actions.py
  tests/test_converters.py
  tests/test_extract.py
  tests/test_gui.py
  tests/test_images.py
  tests/test_optimise.py
  tests/test_optimise_progress.py
  tests/test_utils.py
  tests/test_validation.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

refactor: drop unnecessary lint ignores
  pyproject.toml
  scripts/check_locales.py
  src/pdf_toolbox/__init__.py
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/i18n.py
  src/pdf_toolbox/utils.py
  tests/test_actions.py
  tests/test_actions_registry.py
  tests/test_config_cache.py
  tests/test_i18n_integrity.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

fix: emit version on stdout
  scripts/get_version.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

chore: update coverage badge
  coverage.svg
Due: none

chore(templates): add PR and issue templates enforcing “fix, don’t silence” linting policy; include config.yml with links
  .github/pull_request_template.md
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  ISSUE_TEMPLATE/bug_report.md
  ISSUE_TEMPLATE/config.yml
  ISSUE_TEMPLATE/feature_request.md
Due: mdformat, pretty-format-yaml

Document lint exceptions
  .pre-commit-config.yaml
  DEVELOPMENT.md
  pyproject.toml
  scripts/check_lint_exceptions.py
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, pytest, coverage-per-file

Clarify optimise output when size increases
  README.md
  pyproject.toml
  src/pdf_toolbox/builtin/optimise.py
  tests/test_optimise.py
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file

Normalize lint exception paths
  scripts/check_lint_exceptions.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

docs(agents): sync AGENTS.md with README, CONTRIBUTING, and DEVELOPMENT; unify linting policy and contributor workflow
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  scripts/AGENTS.md
  src/pdf_toolbox/AGENTS.md
  tests/AGENTS.md
Due: mdformat

fix: tokenize lint suppression scan
  scripts/check_lint_exceptions.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

fix: move templates to correct dir.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: mdformat, pretty-format-yaml

Harden action imports and document usage
  DEVELOPMENT.md
  README.md
  pyproject.toml
  src/pdf_toolbox/actions.py
  tests/test_actions.py
  tests/test_actions_security.py
  tests/test_i18n_fallback.py
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file

test: assert foreign module rejection message
  tests/test_actions_security.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

docs: add coverage policy and update review checklists
  .github/pull_request_template.md
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  scripts/AGENTS.md
  scripts/check_exceptions.py
  scripts/check_lint_exceptions.py
  src/pdf_toolbox/AGENTS.md
  src/pdf_toolbox/builtin/docx.py
  src/pdf_toolbox/builtin/extract.py
  src/pdf_toolbox/builtin/images.py
  src/pdf_toolbox/builtin/optimise.py
  src/pdf_toolbox/builtin/repair.py
  src/pdf_toolbox/builtin/unlock.py
  tests/AGENTS.md
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, pytest, coverage-per-file

Add gitleaks pre-commit hook
  .pre-commit-config.yaml
  pyproject.toml
Due: pretty-format-yaml

Use system Go for gitleaks hook
  .pre-commit-config.yaml
  DEVELOPMENT.md
  pyproject.toml
Due: mdformat, pretty-format-yaml

Report unsuccessful optimisations as not optimised
  DEVELOPMENT.md
  pyproject.toml
  src/pdf_toolbox/builtin/optimise.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file

Reorder lint group before format in pre-commit
  .pre-commit-config.yaml
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  scripts/check_coverage.py
  scripts/check_lint_exceptions.py
  scripts/generate_exception_overview.py
  scripts/prune_releases.py
  src/pdf_toolbox/__main__.py
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/builtin/__init__.py
  src/pdf_toolbox/builtin/docx.py
  src/pdf_toolbox/builtin/extract.py
  src/pdf_toolbox/builtin/images.py
  src/pdf_toolbox/builtin/optimise.py
  src/pdf_toolbox/builtin/repair.py
  src/pdf_toolbox/builtin/unlock.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/gui/__main__.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/widgets.py
  src/pdf_toolbox/gui/worker.py
  src/pdf_toolbox/i18n.py
  src/pdf_toolbox/utils.py
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, pytest, coverage-per-file

docs: check the current or integrate no-cover policy to AGENTS/CONTRIBUTING
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT_EXCEPTIONS.md
  scripts/generate_exception_overview.py
  src/pdf_toolbox/utils.py
  tests/conftest.py
  tests/test_batch_optimise.py
  tests/test_converters.py
  tests/test_entrypoint.py
  tests/test_gui.py
  tests/test_optimise.py
  tests/test_optimise_extra.py
  tests/test_optimise_progress.py
  tests/test_utils.py
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file

chore: log generator errors and clarify exception workflow
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  scripts/generate_exception_overview.py
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file

refactor: remove unnecessary no-cover exceptions, add tests
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/i18n.py
  src/pdf_toolbox/utils.py
  tests/test_actions.py
  tests/test_i18n_errors.py
  tests/test_utils.py
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file
