Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, mdformat, pretty-format-yaml, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

ruff-format:
  name: 'format: ruff'
  entry: ruff format
  language: system
  alias: format

mdformat:
  name: 'format: mdformat'
  entry: mdformat
  language: system
  alias: format

pretty-format-yaml:
  name: 'format: pretty-format-yaml'
  entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
  language: system
  alias: format

format-locales:
  name: 'format: locales json'
  entry: python scripts/format_locales.py
  language: system
  pass_filenames: false
  alias: format

ruff:
  name: 'lint: ruff'
  entry: ruff check --fix
  language: system
  alias: lint

mypy:
  name: 'lint: mypy'
  entry: mypy --config-file=pyproject.toml .
  language: system
  pass_filenames: false
  alias: lint

bandit:
  name: 'lint: bandit'
  entry: bandit -q -r src scripts
  language: system
  pass_filenames: false
  alias: lint

check-locales:
  name: 'lint: check-locales'
  entry: python scripts/check_locales.py
  language: system
  pass_filenames: false
  alias: lint

check-lint-exceptions:
  name: 'lint: lint-exceptions'
  entry: python scripts/check_lint_exceptions.py
  language: system
  pass_filenames: false
  alias: lint

pytest:
  name: 'tests: pytest'
  entry: pytest -v --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
  language: system
  pass_filenames: false
  alias: tests

coverage-per-file:
  name: 'tests: check-coverage'
  entry: python scripts/check_coverage.py
  language: system
  pass_filenames: false
  alias: tests

refactor: remove unnecessary no-cover exceptions, add tests
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/__main__.py
  src/pdf_toolbox/builtin/__init__.py
  src/pdf_toolbox/builtin/docx.py
  src/pdf_toolbox/builtin/extract.py
  src/pdf_toolbox/builtin/images.py
  src/pdf_toolbox/builtin/optimise.py
  src/pdf_toolbox/builtin/repair.py
  src/pdf_toolbox/builtin/unlock.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/gui/__main__.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/utils.py
  tests/conftest.py
  tests/test_entrypoint.py
  tests/test_gui.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

refactor: remove unnecessary no-cover exceptions, add tests
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/builtin/docx.py
  src/pdf_toolbox/builtin/images.py
  tests/test_converters.py
  tests/test_i18n_errors.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test: address unused args in converter mocks
  tests/test_converters.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix: update release workflow for GUI package
  .github/workflows/release.yml
  pyproject.toml
Due: pretty-format-yaml

Discard non-optimised PDFs
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pyproject.toml
  src/pdf_toolbox/builtin/optimise.py
  tests/conftest.py
  tests/test_batch_optimise.py
  tests/test_optimise.py
  tests/test_optimise_extra.py
  tests/test_optimise_progress.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Rename builtin package to actions
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  scripts/check_locales.py
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/docx.py
  src/pdf_toolbox/actions/extract.py
  src/pdf_toolbox/actions/images.py
  src/pdf_toolbox/actions/optimise.py
  src/pdf_toolbox/actions/repair.py
  src/pdf_toolbox/actions/unlock.py
  src/pdf_toolbox/builtin/__init__.py
  tests/test_actions.py
  tests/test_batch_optimise.py
  tests/test_converters.py
  tests/test_extract.py
  tests/test_i18n_integrity.py
  tests/test_images.py
  tests/test_optimise.py
  tests/test_optimise_extra.py
  tests/test_optimise_progress.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Add PPTX support and renderer stub
  CONTRIBUTING.md
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/__init__.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_pptx.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

Remove PPTX merging and clarify rendering
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/__init__.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_pptx.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

feat(pptx): add MS Office renderer implementation
  AGENTS.md
  DEVELOPMENT.md
  README.md
  pyproject.toml
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_pptx_ms_office_renderer.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

chore: document renderer exceptions
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_pptx.py
  tests/test_pptx_ms_office_renderer.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Track exceptions in scripts and tests
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  scripts/generate_exception_overview.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

refactor(config): centralize settings and simplify PPTX renderer
  .gitignore
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pdf_toolbox.spec
  pyproject.toml
  src/pdf_toolbox/config.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/widgets.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_config_module.py
  tests/test_pptx.py
  tests/test_pptx_renderer.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Align PPTX features with PDF
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pyproject.toml
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_config_module.py
  tests/test_pptx.py
  tests/test_pptx_ms_office_renderer.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

refactor: share image export settings
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/images.py
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/renderers/ms_office.py
  tests/test_converters.py
  tests/test_pptx.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix(gui): enable custom DPI/quality
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  tests/test_gui.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Ensure union-int spin box is shown and validate image options
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/images.py
  src/pdf_toolbox/actions/pptx.py
  tests/test_gui.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Remove Miro export screenshot
  README.md
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/miro.py
  tests/test_gui.py
  tests/test_i18n_integrity.py
  tests/test_miro.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

Optimize Miro raster pipeline and speed up tests
  src/pdf_toolbox/miro.py
  tests/conftest.py
  tests/test_images.py
  tests/test_miro.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Improve Miro export heuristics and GUI strings
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/miro.py
  tests/test_gui.py
  tests/test_miro.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

Add Windows-only tests for MS Office renderer
  DEVELOPMENT_EXCEPTIONS.md
  tests/test_pptx_ms_office_renderer.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Add Miro export refinements and PPTX slide selection
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pyproject.toml
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/miro.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_miro.py
  tests/test_pptx.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

Refactor shared image helpers
  src/pdf_toolbox/actions/images.py
  src/pdf_toolbox/image_utils.py
  src/pdf_toolbox/miro.py
  tests/test_converters.py
  tests/test_miro.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Rename PDF image action module
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/actions/pptx.py
  tests/test_actions.py
  tests/test_converters.py
  tests/test_images.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Support 'n' sentinel in page specs
  src/pdf_toolbox/image_utils.py
  src/pdf_toolbox/utils.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

feat: add CodeRabbit badge to README.md
  README.md
Due: mdformat

fix: make the link clickable
  README.md
Due: mdformat

docs(adr): add PPTX provider architecture ADR
  DEVELOPMENT.md
  docs/adr/0001-pptx-provider-architecture.md
Due: mdformat

docs(adr): expand PPTX provider ADR
  DEVELOPMENT.md
  docs/adr/0001-pptx-provider-architecture.md
  docs/adr/README.md
Due: mdformat

docs(adr): address PPTX provider review feedback
  DEVELOPMENT.md
  docs/adr/0001-pptx-provider-architecture.md
  docs/adr/README.md
Due: mdformat

docs(adr): clarify pptx provider semantics
  docs/adr/0001-pptx-provider-architecture.md
Due: mdformat

docs(adr): clarify PPTX provider contracts
  docs/adr/0001-pptx-provider-architecture.md
Due: mdformat

fix: clarify further
  docs/adr/0001-pptx-provider-architecture.md
Due: mdformat

feat(pptx): add base provider and registry
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  src/pdf_toolbox/renderers/pptx_base.py
  src/pdf_toolbox/renderers/registry.py
  tests/test_pptx_renderer.py
  tests/test_renderer_registry.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix(pptx): use type parameters in registry
  src/pdf_toolbox/renderers/registry.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

docs: add/refresh CONTRIBUTING and cross-links
  .coderabbit.yaml
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  scripts/AGENTS.md
  src/pdf_toolbox/AGENTS.md
  tests/AGENTS.md
Due: mdformat, pretty-format-yaml

chore: align templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: mdformat

test(config): cover provider selection
  src/pdf_toolbox/config.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/registry.py
  tests/test_config_module.py
  tests/test_pptx_renderer.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test(config): cover provider selection
  AGENTS.md
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/config.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/registry.py
  tests/test_pptx_renderer.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix: code rabbit filters
  .coderabbit.yaml
Due: pretty-format-yaml

chore(test): add pytest dev extras and centralize pytest config in pyproject
  DEVELOPMENT.md
  pyproject.toml
Due: mdformat

Path conditions:
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  pretty-format-yaml: any of: \.(yaml|yml)$
  format-locales: any of: ^src/pdf_toolbox/locales/.*\.json$ and \.json$
  ruff: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  check-locales: any of: \.json$
  check-lint-exceptions: any of: \.py$
  pytest: any of: \.py$
  coverage-per-file: any of: \.py$
