Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, bandit, check-locales, ruff-format, mdformat, pretty-format-yaml, format-locales, pytest, coverage-per-file

ruff:
  name: 'lint: ruff'
  entry: ruff check --fix
  language: system
  alias: lint
  stages:
  - commit
  - push
  - manual

mypy:
  name: 'lint: mypy'
  entry: mypy --config-file=pyproject.toml .
  language: system
  pass_filenames: false
  alias: lint
  stages:
  - commit
  - push
  - manual

bandit:
  name: 'lint: bandit'
  entry: bandit -q -r src scripts
  language: system
  pass_filenames: false
  alias: lint
  stages:
  - commit
  - push
  - manual

check-locales:
  name: 'lint: check-locales'
  entry: python scripts/check_locales.py
  language: system
  pass_filenames: false
  alias: lint
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 'format: ruff'
  entry: ruff format
  language: system
  alias: format
  stages:
  - commit
  - push
  - manual

mdformat:
  name: 'format: mdformat'
  entry: mdformat
  language: system
  alias: format
  stages:
  - commit
  - push
  - manual

pretty-format-yaml:
  name: 'format: pretty-format-yaml'
  entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
  language: system
  alias: format
  stages:
  - commit
  - push
  - manual

format-locales:
  name: 'format: locales json'
  entry: python scripts/format_locales.py
  language: system
  pass_filenames: false
  alias: format
  stages:
  - commit
  - push
  - manual

pytest:
  name: 'tests: pytest'
  entry: pytest -n auto -m "not slow" --timeout=60 --maxfail=1 --durations=0 --durations-min=0.75
  language: system
  pass_filenames: false
  alias: tests
  stages:
  - commit
  - push

coverage-per-file:
  name: 'tests: check-coverage'
  entry: python scripts/check_coverage.py
  language: system
  pass_filenames: false
  alias: tests
  stages:
  - commit
  - push

ci: upload/download coverage artifacts between fast/slow; enforce thresholds
  .github/workflows/ci.yml
  scripts/ci/install-qt-headless.sh
Due: pretty-format-yaml

ci: upload/download coverage artifacts between fast/slow; enforce thresholds
  .github/workflows/ci.yml
Due: pretty-format-yaml

ci: inline qt install step and retry slow hook
  .github/workflows/ci.yml
  scripts/ci/install-qt-headless.sh
Due: pretty-format-yaml

Update pre-commit step in CI workflow
  .github/workflows/ci.yml
Due: pretty-format-yaml

Run combined pytest hook in CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: pretty-format-yaml

Update ci.yml
  .github/workflows/ci.yml
Due: pretty-format-yaml

Document GUI coverage goals
  DEVELOPMENT.md
  tests/gui/AGENTS.md
Due: mdformat

Polish GUI tests for lint compliance
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/widgets.py
  src/pdf_toolbox/gui/worker.py
  tests/gui/conftest_qt.py
  tests/gui/test_main_entry.py
  tests/gui/test_main_window.py
  tests/gui/test_widgets.py
  tests/gui/test_worker.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Add GUI e2e test for PDF image extraction
  tests/gui/test_e2e_pdf_images.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

chore: remove rabbit custom rules
  .coderabbit.yaml
Due: pretty-format-yaml

Tweak GUI e2e test wiring
  tests/gui/test_e2e_pdf_images.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Bump version to 0.7.1
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  tests/test_pptx.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Add end-to-end tests for remaining actions
  DEVELOPMENT_EXCEPTIONS.md
  tests/test_actions_e2e.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Refactor PPTX e2e tests and fix hook failures
  DEVELOPMENT_EXCEPTIONS.md
  tests/conftest.py
  tests/test_actions_e2e.py
  tests/test_pptx.py
  tests/test_pptx_e2e.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Align action signatures and expand e2e coverage
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/actions/pptx.py
  tests/test_actions_e2e.py
  tests/test_pptx_e2e.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Add libxcb-util1 to headless Qt deps
  scripts/ci/install-qt-headless.sh
Due: none

Mark author dialog test as slow
  DEVELOPMENT_EXCEPTIONS.md
  tests/gui/test_main_window.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Bump version to 0.7.2
  pyproject.toml
Due: none

Adjust Windows release bundle
  .github/workflows/release.yml
  DEVELOPMENT.md
Due: mdformat, pretty-format-yaml

Clarify Windows bundle executable name
  DEVELOPMENT.md
Due: mdformat

Refine exception overview gathering
  DEVELOPMENT_EXCEPTIONS.md
  scripts/generate_exception_overview.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Use coverage data for coverage checks
  DEVELOPMENT_EXCEPTIONS.md
  scripts/check_coverage.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Tighten exception comment parsing
  scripts/generate_exception_overview.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Align coverage script with project logging
  scripts/check_coverage.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Fix lint issues in GitHub client and tests
  DEVELOPMENT_EXCEPTIONS.md
  scripts/pin_actions.py
  scripts/prune_releases.py
  src/pdf_toolbox/github.py
  tests/test_github_client.py
  tests/test_prune_releases.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Refine exception parsing and coverage checks
  DEVELOPMENT_EXCEPTIONS.md
  scripts/check_coverage.py
  scripts/generate_exception_overview.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Move GitHub API helper into scripts
  scripts/github_client.py
  scripts/pin_actions.py
  scripts/prune_releases.py
  tests/test_github_client.py
  tests/test_prune_releases.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Document logging helpers location
  DEVELOPMENT.md
Due: mdformat

Clarify CI pytest hook guidance
  AGENTS.md
  DEVELOPMENT.md
Due: mdformat

Add regression test for PPTX probe bypass
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  tests/gui/test_main_window.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Add MIT license metadata
  LICENSE
  README.md
  pyproject.toml
Due: mdformat

Pin dependencies to current versions
  pyproject.toml
Due: none

Handle legacy Miro standard profile alias
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/gui/test_main_window.py
  tests/test_actions_e2e.py
  tests/test_miro.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Document MIT licensing metadata
  README.md
  pyproject.toml
Due: mdformat

Mark PPTX renderer dialog test as slow
  DEVELOPMENT_EXCEPTIONS.md
  tests/gui/test_main_window.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Add CLI for action registry
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pyproject.toml
  src/pdf_toolbox/cli.py
  tests/test_cli.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Remove legacy Miro standard profile alias
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/gui/main_window.py
  tests/gui/test_main_window.py
  tests/test_actions_e2e.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Clarify platform pins and Python support
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  pyproject.toml
Due: mdformat

Document refactor plan for exception suppressions
  docs/exception_refactor_plan.md
Due: mdformat

Refine CLI output handling and tests
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/cli.py
  tests/test_cli.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Path conditions:
  ruff: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  check-locales: any of: \.json$
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  pretty-format-yaml: any of: \.(yaml|yml)$
  format-locales: any of: ^src/pdf_toolbox/locales/.*\.json$ and \.json$
  pytest: any of: \.py$
  coverage-per-file: any of: \.py$
