Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, mdformat, pretty-format-yaml, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: "format: ruff"
        entry: ruff format
        language: system
        types: [python]
        alias: format

      - id: mdformat
        name: "format: mdformat"
        entry: mdformat
        language: system
        types: [markdown]
        alias: format

      - id: pretty-format-yaml
        name: "format: pretty-format-yaml"
        entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
        language: system
        types: [yaml]
        alias: format

      - id: format-locales
        name: "format: locales json"
        entry: python scripts/format_locales.py
        language: system
        types: [json]
        files: ^src/pdf_toolbox/locales/.*\.json$
        pass_filenames: false
        alias: format

      - id: ruff
        name: "lint: ruff"
        entry: ruff check --fix
        language: system
        types: [python]
        alias: lint

      - id: mypy
        name: "lint: mypy"
        entry: mypy --config-file=pyproject.toml .
        language: system
        types: [python]
        pass_filenames: false
        alias: lint

      - id: bandit
        name: "lint: bandit"
        entry: bandit -q -r src scripts
        language: system
        types: [python]
        pass_filenames: false
        alias: lint

      - id: check-locales
        name: "lint: check-locales"
        entry: python scripts/check_locales.py
        language: system
        types: [json]
        pass_filenames: false
        alias: lint

      - id: check-lint-exceptions
        name: "lint: lint-exceptions"
        entry: python scripts/check_lint_exceptions.py
        language: system
        types: [python]
        pass_filenames: false
        alias: lint

      - id: pytest
        name: "tests: pytest"
        entry: pytest -v --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        alias: tests

      - id: coverage-per-file
        name: "tests: check-coverage"
        entry: python scripts/check_coverage.py
        language: system
        types: [python]
        pass_filenames: false
        alias: tests

fix: code rabbit filters
  .coderabbit.yaml
Due: pretty-format-yaml

chore(pre-commit): append coverage in manual slow
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  conftest.py
  tests/__init__.py
  tests/conftest.py
  tests/test_images.py
  tests/test_miro.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

ci: fix windows pytest command quoting
  .github/workflows/ci.yml
Due: pretty-format-yaml

test(fixtures): cache pdf assets safely and stabilise image baselines
  .github/workflows/ci.yml
  conftest.py
  tests/conftest.py
  tests/test_images.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

chore: fix pre-commit warnings and lint
  .pre-commit-config.yaml
  conftest.py
  tests/test_images.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

chore(pre-commit): align locale formatter and coverage stages
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
  conftest.py
  tests/test_actions.py
  tests/test_no_relative_imports.py
  tests/test_optimise.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test(gui): speed up collect args
  tests/test_gui.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

chore(pre-commit): run fast tests locally; run lints/format in CI via manual stage
  .pre-commit-config.yaml
  conftest.py
Due: ruff-format, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test: ensure slow hook records failures
  conftest.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test: run slow-policy pytester suite in process
  tests/test_pytest_slow_policy.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test: add conftest slow-policy hook (pyproject-configured)
  DEVELOPMENT_EXCEPTIONS.md
  conftest.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

chore(pre-commit): use pre-commit/pre-push stage names
  .github/workflows/ci.yml
  AGENTS.md
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  conftest.py
  tests/test_actions.py
  tests/test_optimise.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix: address review feedback on slow-policy rollout
  .github/workflows/ci.yml
  DEVELOPMENT.md
  conftest.py
  tests/test_actions.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

docs: document slow-test policy and two-phase CI
  .github/workflows/ci.yml
  DEVELOPMENT.md
  conftest.py
  tests/test_gui.py
  tests/test_pytest_slow_policy.py
Due: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

refactor: remove pptx cli entrypoint
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/__init__.py
  src/pdf_toolbox/renderers/pptx.py
  src/pdf_toolbox/validation.py
  tests/test_miro.py
  tests/test_pptx.py
  tests/test_validation.py
Due: ruff-format, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

feat: align pptx provider handling
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/__init__.py
  src/pdf_toolbox/renderers/pptx.py
  src/pdf_toolbox/validation.py
  tests/test_miro.py
  tests/test_pptx.py
  tests/test_validation.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

docs: document pptx provider exception
  DEVELOPMENT_EXCEPTIONS.md
  scripts/generate_exception_overview.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Remove DOCX and optimisation actions
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/docx.py
  src/pdf_toolbox/actions/optimise.py
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/actions/repair.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/utils.py
  tests/test_actions.py
  tests/test_batch_optimise.py
  tests/test_converters.py
  tests/test_optimise.py
  tests/test_optimise_extra.py
  tests/test_optimise_progress.py
  tests/test_pptx.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

Update src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/main_window.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix: code rabbit settings
  .coderabbit.yaml
Due: pretty-format-yaml

fix: i18 status_key regression
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Update .coderabbit.yaml
  .coderabbit.yaml
Due: pretty-format-yaml

fix: fix config
  .coderabbit.yaml
Due: pretty-format-yaml

test(pptx): mock COM to test flow
  src/pdf_toolbox/renderers/ms_office.py
  tests/test_pptx_ms_office_renderer.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test(pptx): extend ms office renderer coverage
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  tests/test_pptx_ms_office_renderer.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

docs: update README
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  src/pdf_toolbox/config.py
  src/pdf_toolbox/gui/main_window.py
  tests/test_config_module.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix(gui): clarify http_office provider
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  src/pdf_toolbox/gui/main_window.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

docs(adr): update with stub note
  DEVELOPMENT_EXCEPTIONS.md
  docs/adr/0001-pptx-provider-architecture.md
  src/pdf_toolbox/renderers/lightweight_stub.py
  src/pdf_toolbox/renderers/pptx.py
  tests/renderers/test_lightweight_stub.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

docs(adr): align pptx renderer interface details
  DEVELOPMENT_EXCEPTIONS.md
  docs/adr/0001-pptx-provider-architecture.md
  src/pdf_toolbox/renderers/lightweight_stub.py
  tests/renderers/test_lightweight_stub.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test(pptx): mock provider, check cleanup
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/renderers/registry.py
  tests/test_pptx.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

fix(pptx): preserve generated images
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/pptx.py
  tests/test_pptx.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test: assert keys used
  DEVELOPMENT_EXCEPTIONS.md
  scripts/generate_exception_overview.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/worker.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/pptx.py
  tests/test_gui.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

Improve i18n fallback handling
  src/pdf_toolbox/i18n.py
  tests/test_i18n_fallback.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

feat(pptx): add http_office renderer (stirling/gotenberg)
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  scripts/check_locales.py
  scripts/generate_exception_overview.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/_http_util.py
  src/pdf_toolbox/renderers/http_office.py
  src/pdf_toolbox/renderers/pptx.py
  tests/renderers/test_http_office.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file

test(pptx): selection logic and http_office availability
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/_http_util.py
  src/pdf_toolbox/renderers/http_office.py
  src/pdf_toolbox/renderers/pptx.py
  src/pdf_toolbox/renderers/registry.py
  tests/renderers/test_http_office.py
  tests/renderers/test_lightweight_stub.py
  tests/test_pptx.py
  tests/test_pptx_renderer.py
  tests/test_renderer_registry.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test(pptx): cover entry point failure paths
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/http_office.py
  src/pdf_toolbox/renderers/registry.py
  tests/test_renderer_registry.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test(pptx): cover cached context and probe errors
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/http_office.py
  src/pdf_toolbox/renderers/pptx_base.py
  src/pdf_toolbox/renderers/registry.py
  tests/renderers/test_http_office.py
Due: ruff-format, mdformat, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

Update src/pdf_toolbox/renderers/registry.py
  src/pdf_toolbox/renderers/registry.py
Due: ruff-format, ruff, mypy, bandit, check-lint-exceptions, pytest, coverage-per-file

test(): .pptx fail-fast check
  DEVELOPMENT_EXCEPTIONS.md
  scripts/generate_exception_overview.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/pptx.py
  src/pdf_toolbox/renderers/registry.py
  src/pdf_toolbox/validation.py
  tests/test_gui.py
  tests/test_validation.py
Due: ruff-format, mdformat, format-locales, ruff, mypy, bandit, check-locales, check-lint-exceptions, pytest, coverage-per-file
