Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, format-locales, pytest, coverage-per-file

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.3
    hooks:
      - id: ruff
        name: "lint: ruff"
        args: ["--fix"]
        alias: lint
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: "format: ruff"
        alias: format
        stages: [pre-commit, pre-push, manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        name: "lint: mypy"
        args: ["--config-file=pyproject.toml", "src", "scripts"]
        alias: lint
        pass_filenames: false
        stages: [pre-commit, pre-push, manual]
        additional_dependencies:
          - types-requests>=2.32.0.20240914

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        name: "lint: bandit"
        args: ["-q", "-r", "src", "scripts"]
        alias: lint
        pass_filenames: false
        stages: [pre-commit, pre-push, manual]

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        name: "format: mdformat"
        alias: format
        stages: [pre-commit, pre-push, manual]
        additional_dependencies:
          - mdformat-gfm>=0.4.1

  - repo: https://github.com/macisamuele/pre-commit-hooks
    rev: v2.9.0
    hooks:
      - id: pretty-format-yaml
        name: "format: pretty-format-yaml"
        args: ["--autofix", "--indent", "2", "--offset", "2", "--preserve-quotes"]
        alias: format
        stages: [pre-commit, pre-push, manual]
        additional_dependencies:
          - setuptools

  - repo: local
    hooks:
      - id: generate-exception-overview
        name: "lint: generate exception overview"
        entry: python scripts/generate_exception_overview.py
        language: system
        pass_filenames: false
        always_run: true
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: check-locales
        name: "lint: check-locales"
        entry: python scripts/check_locales.py
        language: system
        types: [json]
        pass_filenames: false
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: format-locales
        name: "format: locales json"
        entry: python scripts/format_locales.py
        language: system
        types: [json]
        files: ^src/pdf_toolbox/locales/.*\.json$
        pass_filenames: false
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: pytest
        name: "tests: pytest"
        entry: >-
          pytest -n auto -q --timeout=120 --maxfail=1 --durations=0
          --durations-min=0.75 --cov=pdf_toolbox --cov-report=xml
          --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [pre-commit, pre-push]

      - id: coverage-per-file
        name: "tests: check-coverage"
        entry: python scripts/check_coverage.py
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [pre-commit, pre-push]

build: optimize pyinstaller executables
  .github/workflows/release.yml
  pdf_toolbox.spec
Due: none

fix: handle optional cancel hooks in Miro export
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/miro.py
  tests/test_miro.py
Due: pytest, coverage-per-file

build: bundle pymupdf for windows
  pdf_toolbox.spec
Due: none

Update Python version constraint and documentation
  AGENTS.md
  pdm.lock
  pyproject.toml
Due: none

Add GUI settings persistence and update dependencies
  .python-version
  DEVELOPMENT_EXCEPTIONS.md
  pdm.lock
  pyproject.toml
  src/pdf_toolbox/actions/ocr.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/gui/test_settings_persistence.py
Due: check-locales, format-locales, pytest, coverage-per-file

Fix Python 3.15 locale deprecation
  src/pdf_toolbox/i18n.py
Due: pytest, coverage-per-file

chore: bump version
  pyproject.toml
Due: none

fix: malformed toml
  pyproject.toml
Due: none

chore: update GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
Due: none

chore: remove deprecated script
  scripts/get-coderabbit-comments.sh
Due: none

Security improvements and renderer registry refactoring
  DEVELOPMENT_EXCEPTIONS.md
  coverage.json
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/extract.py
  src/pdf_toolbox/config.py
  src/pdf_toolbox/paths.py
  src/pdf_toolbox/renderers/http_office.py
  src/pdf_toolbox/renderers/registry.py
  tests/renderers/test_http_office.py
  tests/test_actions_security.py
  tests/test_image_utils.py
  tests/test_pdf_images_coverage.py
  tests/test_pptx.py
  tests/test_renderer_registry.py
Due: check-locales, pytest, coverage-per-file

Extract ErrorFormatter from MainWindow
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/error_formatter.py
  src/pdf_toolbox/gui/main_window.py
  tests/gui/test_main_window.py
Due: pytest, coverage-per-file

Extract ActionFormBuilder from MainWindow
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  src/pdf_toolbox/gui/form_builder.py
  src/pdf_toolbox/gui/main_window.py
  tests/gui/test_e2e_pdf_images.py
  tests/gui/test_main_window.py
  tests/gui/test_settings_persistence.py
Due: pytest, coverage-per-file

Refactor renderer registry for better maintainability
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/registry.py
Due: pytest, coverage-per-file
