Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, bandit, check-locales, ruff-format, mdformat, pretty-format-yaml, format-locales, pytest, coverage-per-file

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-exception-overview
        name: "lint: generate exception overview"
        entry: python scripts/generate_exception_overview.py
        language: system
        pass_filenames: false
        always_run: true
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: ruff
        name: "lint: ruff"
        entry: ruff check --fix
        language: system
        types: [python]
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: mypy
        name: "lint: mypy"
        entry: mypy --config-file=pyproject.toml .
        language: system
        types: [python]
        pass_filenames: false
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: bandit
        name: "lint: bandit"
        entry: bandit -q -r src scripts
        language: system
        types: [python]
        pass_filenames: false
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: check-locales
        name: "lint: check-locales"
        entry: python scripts/check_locales.py
        language: system
        types: [json]
        pass_filenames: false
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: ruff-format
        name: "format: ruff"
        entry: ruff format
        language: system
        types: [python]
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: mdformat
        name: "format: mdformat"
        entry: mdformat
        language: system
        types: [markdown]
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: pretty-format-yaml
        name: "format: pretty-format-yaml"
        entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
        language: system
        types: [yaml]
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: format-locales
        name: "format: locales json"
        entry: python scripts/format_locales.py
        language: system
        types: [json]
        files: ^src/pdf_toolbox/locales/.*\.json$
        pass_filenames: false
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: pytest
        name: "tests: pytest"
        entry: pytest -n auto -q --timeout=120 --maxfail=1 --durations=0 --durations-min=0.75 --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [pre-commit, pre-push]

      - id: coverage-per-file
        name: "tests: check-coverage"
        entry: python scripts/check_coverage.py
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [pre-commit, pre-push]

Clarify exception refactor plan guidance
  docs/exception_refactor_plan.md
Due: mdformat

Refactor action registry metadata storage
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/__init__.py
  tests/test_actions.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Make Miro manifest optional
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/miro.py
  tests/test_actions_e2e.py
  tests/test_miro.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Add PyMuPDF stubs and persist action metadata
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  src/fitz/__init__.pyi
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/extract.py
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/actions/unlock.py
  src/pdf_toolbox/image_utils.py
  src/pdf_toolbox/miro.py
  src/pdf_toolbox/utils.py
  tests/conftest.py
  tests/test_actions_e2e.py
  tests/test_converters.py
  tests/test_images.py
  tests/test_pptx_e2e.py
  tests/test_utils.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Persist action metadata across reloads
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  tests/test_actions.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Refine requests typing and move pymupdf stub
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  src/pdf_toolbox/actions/extract.py
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/actions/unlock.py
  src/pdf_toolbox/image_utils.py
  src/pdf_toolbox/miro.py
  src/pdf_toolbox/renderers/_http_util.py
  src/pdf_toolbox/renderers/_requests.py
  src/pdf_toolbox/renderers/_requests_types.py
  src/pdf_toolbox/renderers/http_office.py
  src/pdf_toolbox/utils.py
  tests/conftest.py
  tests/renderers/test_http_office.py
  tests/test_actions_e2e.py
  tests/test_converters.py
  tests/test_images.py
  tests/test_pptx_e2e.py
  typings/fitz/__init__.pyi
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Tighten action registry and requests handling
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/_requests.py
  src/pdf_toolbox/renderers/_requests_types.py
  src/pdf_toolbox/renderers/http_office.py
  typings/fitz/__init__.pyi
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Update setup instructions for GUI dependencies
  AGENTS.md
Due: mdformat

Document exception plan progress and bump 0.7.3
  docs/exception_refactor_plan.md
  pyproject.toml
Due: mdformat

chore: re-run scripts/generate_exception_overview.py
  DEVELOPMENT_EXCEPTIONS.md
Due: mdformat

Refactor GUI argument collection for dataclass actions
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/cli.py
  src/pdf_toolbox/gui/main_window.py
  tests/gui/test_main_window.py
  tests/test_actions.py
  tests/test_actions_e2e.py
  tests/test_cli.py
  tests/test_miro.py
  tests/test_pptx.py
  tests/test_pptx_e2e.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Update LICENSE
  LICENSE
Due: none

Handle optional dataclass CLI args and localize custom choice
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/cli.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/gui/test_main_window.py
  tests/test_actions.py
  tests/test_cli.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Localize Miro unsupported input error and fix widget error handling
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/test_miro.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Use Qt enums to remove attr-defined suppressions
  DEVELOPMENT_EXCEPTIONS.md
  docs/exception_refactor_plan.md
  src/pdf_toolbox/gui/main_window.py
  tests/gui/conftest_qt.py
  tests/gui/test_main_window.py
  tests/gui/test_widgets.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Document release-based installation
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
Due: mdformat

Refactor PPTX renderers to use RenderOptions
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/http_office.py
  src/pdf_toolbox/renderers/lightweight_stub.py
  src/pdf_toolbox/renderers/ms_office.py
  src/pdf_toolbox/renderers/pptx.py
  src/pdf_toolbox/renderers/pptx_base.py
  tests/test_pptx.py
  tests/test_pptx_e2e.py
  tests/test_pptx_ms_office_renderer.py
  tests/test_pptx_renderer.py
  tests/test_renderer_registry.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Handle missing image format in MS Office renderer
  docs/exception_refactor_plan.md
  src/pdf_toolbox/renderers/ms_office.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Refactor PDF image options and cover GUI import fallback
  DEVELOPMENT_EXCEPTIONS.md
  README.md
  pyproject.toml
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/actions/pptx.py
  src/pdf_toolbox/gui/__init__.py
  tests/test_actions.py
  tests/test_actions_e2e.py
  tests/test_converters.py
  tests/test_gui_import.py
  tests/test_images.py
  tests/test_pptx.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Fix GUI fallback typing and adjust tests for options
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/__init__.py
  tests/gui/test_e2e_pdf_images.py
  tests/test_gui_import.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Address GUI fallback review fixes
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/test_pptx.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Stabilise PDF images GUI e2e test
  DEVELOPMENT_EXCEPTIONS.md
  tests/gui/test_e2e_pdf_images.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Validate PDF image options and cover GUI entry
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/actions/miro.py
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/gui/test_main_entry.py
  tests/test_converters.py
  tests/test_gui_import.py
  tests/test_images.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Test GUI fallback when Qt stub import fails
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/__init__.py
  tests/test_gui_import.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Fix GUI fallback logging exc_info
  src/pdf_toolbox/gui/__init__.py
  tests/test_gui_import.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Use caplog in GUI import regression tests
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/__init__.py
  tests/test_gui_import.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover PPTX docs launcher
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  tests/gui/test_main_window.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover Miro encoder fallbacks
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/miro.py
  tests/test_miro.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover HTTP util requests guard
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/_http_util.py
  tests/test_miro.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover stub worker isRunning helper
  DEVELOPMENT_EXCEPTIONS.md
  tests/gui/conftest_qt.py
  tests/gui/test_main_window.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover requests helper and clean GUI stubs
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/_requests.py
  tests/gui/conftest_qt.py
  tests/renderers/test_requests_helper.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Fix requests helper stub lint failures
  tests/renderers/test_requests_helper.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Use shared Qt install script in CI
  .github/workflows/ci.yml
Due: pretty-format-yaml

Ensure pytester runs emit terminal summary
  tests/test_pytest_slow_policy.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Stabilize slow policy pytester configuration
  tests/test_pytest_slow_policy.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Update exception refactor plan for current overview
  docs/exception_refactor_plan.md
Due: mdformat

Format exception refactor plan
  docs/exception_refactor_plan.md
Due: mdformat

Avoid external plugin autoload in pytester runs
  tests/test_pytest_slow_policy.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Add HTTP renderer configuration UI
  src/pdf_toolbox/config.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/gui/test_main_window.py
Due: ruff, mypy, bandit, check-locales, ruff-format, format-locales, pytest, coverage-per-file

Implement Stirling HTTP renderer
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/http_office.py
  tests/renderers/test_http_office.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file
