Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, bandit, check-locales, ruff-format, mdformat, pretty-format-yaml, format-locales, pytest, coverage-per-file

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-exception-overview
        name: "lint: generate exception overview"
        entry: python scripts/generate_exception_overview.py
        language: system
        pass_filenames: false
        always_run: true
        alias: lint
        stages: [commit, push, manual]

      - id: ruff
        name: "lint: ruff"
        entry: ruff check --fix
        language: system
        types: [python]
        alias: lint
        stages: [commit, push, manual]

      - id: mypy
        name: "lint: mypy"
        entry: mypy --config-file=pyproject.toml .
        language: system
        types: [python]
        pass_filenames: false
        alias: lint
        stages: [commit, push, manual]

      - id: bandit
        name: "lint: bandit"
        entry: bandit -q -r src scripts
        language: system
        types: [python]
        pass_filenames: false
        alias: lint
        stages: [commit, push, manual]

      - id: check-locales
        name: "lint: check-locales"
        entry: python scripts/check_locales.py
        language: system
        types: [json]
        pass_filenames: false
        alias: lint
        stages: [commit, push, manual]

      - id: ruff-format
        name: "format: ruff"
        entry: ruff format
        language: system
        types: [python]
        alias: format
        stages: [commit, push, manual]

      - id: mdformat
        name: "format: mdformat"
        entry: mdformat
        language: system
        types: [markdown]
        alias: format
        stages: [commit, push, manual]

      - id: pretty-format-yaml
        name: "format: pretty-format-yaml"
        entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
        language: system
        types: [yaml]
        alias: format
        stages: [commit, push, manual]

      - id: format-locales
        name: "format: locales json"
        entry: python scripts/format_locales.py
        language: system
        types: [json]
        files: ^src/pdf_toolbox/locales/.*\.json$
        pass_filenames: false
        alias: format
        stages: [commit, push, manual]

      - id: pytest
        name: "tests: pytest"
        entry: pytest -n auto -m "not slow" --timeout=60 --maxfail=1 --durations=0 --durations-min=0.75
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [commit, push]

      - id: pytest-slow
        name: "tests: pytest slow"
        entry: pytest -n auto -m "slow" --timeout=120 --maxfail=1 --durations=0 --durations-min=0.75 --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing --cov-append
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [manual]

      - id: coverage-per-file
        name: "tests: check-coverage"
        entry: python scripts/check_coverage.py
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [commit, push]

chore(validation, gui): freeze SUPPORTED_INPUT_SUFFIXES; harden pptx provider selection; avoid duplicate lookups
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/validation.py
  tests/test_gui.py
  tests/test_validation.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

chore: publish coverage badge to gh-pages
  .github/workflows/coverage.yml
  README.md
  coverage.svg
Due: mdformat, pretty-format-yaml

chore: pin gh-pages action
  .github/workflows/coverage.yml
Due: pretty-format-yaml

deploy: 89441d339187e39a422892eaca728448f3b1ab06
  .nojekyll
  badges/badges/coverage.svg
Due: none

ci: pin GitHub Actions to latest release SHAs (2025-09-20)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  AGENTS.md
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  scripts/pin_actions.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pretty-format-yaml, pytest, coverage-per-file

chore: address lint feedback for pin_actions
  DEVELOPMENT_EXCEPTIONS.md
  scripts/pin_actions.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

ci: use shared logger in pin actions script
  DEVELOPMENT.md
  DEVELOPMENT_EXCEPTIONS.md
  scripts/AGENTS.md
  scripts/pin_actions.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

fix: address pin_actions feedback
  DEVELOPMENT_EXCEPTIONS.md
  scripts/pin_actions.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

ci: harden pin_actions comment preservation
  DEVELOPMENT_EXCEPTIONS.md
  scripts/pin_actions.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

ci(actions): pin workflow actions to latest SHAs via scripts/pin_actions.py
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  README.md
Due: mdformat, pretty-format-yaml

ci(pin): run pin_actions.py --write to update workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  DEVELOPMENT_EXCEPTIONS.md
  scripts/__init__.py
  scripts/pin_actions.py
  tests/test_pin_actions.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pretty-format-yaml, pytest, coverage-per-file

test(pin): use tuple for parametrize arguments
  .github/workflows/coverage.yml
  tests/test_pin_actions.py
Due: ruff, mypy, bandit, ruff-format, pretty-format-yaml, pytest, coverage-per-file

Add pytest-qt GUI smoke test
  .github/workflows/ci.yml
  DEVELOPMENT.md
  pyproject.toml
  tests/test_gui_smoke.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pretty-format-yaml, pytest, coverage-per-file

Run pre-commit under Xvfb in CI
  .github/workflows/ci.yml
Due: pretty-format-yaml

Fix Qt CI deps and raise ms_office coverage
  .github/workflows/ci.yml
  DEVELOPMENT.md
  pyproject.toml
  tests/test_gui_smoke.py
  tests/test_pptx_ms_office_renderer.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pretty-format-yaml, pytest, coverage-per-file

Use offscreen Qt backend in CI
  .github/workflows/ci.yml
  DEVELOPMENT.md
Due: mdformat, pretty-format-yaml

Limit coverage workflow to main pushes
  .github/workflows/coverage.yml
Due: pretty-format-yaml

Fix GUI test handling in CI
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  DEVELOPMENT.md
Due: mdformat, pretty-format-yaml

ci: install xcb dependencies for GUI tests
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  DEVELOPMENT.md
Due: mdformat, pretty-format-yaml

Align fast-suite marker selection
  .github/workflows/ci.yml
  DEVELOPMENT.md
Due: mdformat, pretty-format-yaml

fix workflow triggers
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: pretty-format-yaml

Limit CI workflow to PR coverage checks
  .github/workflows/ci.yml
Due: pretty-format-yaml

Run CI only for pull requests
  .github/workflows/ci.yml
Due: pretty-format-yaml

Add Qt smoke test harness
  tests/gui/conftest_qt.py
  tests/gui/test_smoke_boot.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Relocate GUI tests under dedicated package
  tests/gui/conftest_qt.py
  tests/gui/test_main_window.py
  tests/gui/test_smoke_boot.py
  tests/test_gui.py
  tests/test_gui_smoke.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Switch Qt headless mode to xcb
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  tests/gui/conftest_qt.py
  tests/gui/test_smoke_boot.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

docs: clarify GUI testing policy (desktop native; CI/agents headless with xvfb)
  DEVELOPMENT.md
  README.md
Due: mdformat

docs: format gui testing policy
  DEVELOPMENT.md
  README.md
Due: mdformat

chore: drop Qt offscreen overrides
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  tests/gui/conftest_qt.py
  tests/gui/test_smoke_boot.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pretty-format-yaml, pytest, coverage-per-file

docs: scope Qt xcb/xvfb to Linux CI and add missing xcb deps
  AGENTS.md
  DEVELOPMENT.md
Due: mdformat

ci: add scripts/ci/install-qt-headless.sh for agents and containers
  DEVELOPMENT.md
  scripts/ci/install-qt-headless.sh
Due: mdformat

ci: harden install-qt-headless setup
  DEVELOPMENT.md
  scripts/ci/install-qt-headless.sh
Due: mdformat

ci: refine headless qt setup docs
  DEVELOPMENT.md
  scripts/ci/install-qt-headless.sh
Due: mdformat

CI: run tests via pre-commit under xvfb; align with agent bootstrap
  .github/workflows/ci.yml
Due: pretty-format-yaml

docs: clarify GUI testing policy (desktop native; CI/agents headless)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  scripts/ci/install-qt-headless.sh
Due: mdformat, pretty-format-yaml

ci: upload/download coverage artifacts between fast/slow; enforce thresholds
  .github/workflows/ci.yml
Due: pretty-format-yaml

ci: reuse scripts/ci/install-qt-headless.sh in workflow
  .github/workflows/ci.yml
Due: pretty-format-yaml

ci: run tests via pre-commit under xvfb; remove direct pytest calls
  .github/workflows/ci.yml
Due: pretty-format-yaml
