Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, bandit, check-locales, ruff-format, mdformat, pretty-format-yaml, format-locales, pytest, coverage-per-file

ruff:
  name: 'lint: ruff'
  entry: ruff check --fix
  language: system
  alias: lint
  stages:
  - pre-commit
  - pre-push
  - manual

mypy:
  name: 'lint: mypy'
  entry: mypy --config-file=pyproject.toml .
  language: system
  pass_filenames: false
  alias: lint
  stages:
  - pre-commit
  - pre-push
  - manual

bandit:
  name: 'lint: bandit'
  entry: bandit -q -r src scripts
  language: system
  pass_filenames: false
  alias: lint
  stages:
  - pre-commit
  - pre-push
  - manual

check-locales:
  name: 'lint: check-locales'
  entry: python scripts/check_locales.py
  language: system
  pass_filenames: false
  alias: lint
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 'format: ruff'
  entry: ruff format
  language: system
  alias: format
  stages:
  - pre-commit
  - pre-push
  - manual

mdformat:
  name: 'format: mdformat'
  entry: mdformat
  language: system
  alias: format
  stages:
  - pre-commit
  - pre-push
  - manual

pretty-format-yaml:
  name: 'format: pretty-format-yaml'
  entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
  language: system
  alias: format
  stages:
  - pre-commit
  - pre-push
  - manual

format-locales:
  name: 'format: locales json'
  entry: python scripts/format_locales.py
  language: system
  pass_filenames: false
  alias: format
  stages:
  - pre-commit
  - pre-push
  - manual

pytest:
  name: 'tests: pytest'
  entry: pytest -n auto -q --timeout=120 --maxfail=1 --durations=0 --durations-min=0.75 --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
  language: system
  pass_filenames: false
  alias: tests
  stages:
  - pre-commit
  - pre-push

coverage-per-file:
  name: 'tests: check-coverage'
  entry: python scripts/check_coverage.py
  language: system
  pass_filenames: false
  alias: tests
  stages:
  - pre-commit
  - pre-push

Preserve HTTP headers in PPTX renderer dialog
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  tests/gui/test_main_window.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Improve logging for PPTX rendering and image export
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/renderers/http_office.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Improve logging context for PDF image export
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/renderers/http_office.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Refine image export logging levels
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/renderers/http_office.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Tighten logging metadata for PPTX conversions
  src/pdf_toolbox/actions/pdf_images.py
  src/pdf_toolbox/renderers/http_office.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Cover CLI error handling branches
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/cli.py
  tests/test_cli.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Refactor GUI import guards
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/__init__.py
  tests/test_gui_import.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover dummy PPTX renderer image branch
  DEVELOPMENT_EXCEPTIONS.md
  tests/test_miro.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Clarify GUI import logging coverage
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/__init__.py
  tests/test_gui_import.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Remove ms_office no-cover pragmas with tests
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/renderers/ms_office.py
  tests/test_pptx_ms_office_renderer.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover slow-test hook exception path
  DEVELOPMENT_EXCEPTIONS.md
  conftest.py
  src/pdf_toolbox/renderers/ms_office.py
  tests/test_pptx_ms_office_renderer.py
  tests/test_slow_policy_plugin.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Cover slow plugin threshold fallback
  conftest.py
  tests/test_slow_policy_plugin.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Document completed no-cover refactors
  docs/exception_refactor_plan.md
Due: mdformat

Document widgets no-cover validation
  docs/exception_refactor_plan.md
Due: mdformat

Improve GUI log formatting and structure
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/widgets.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/renderers/registry.py
  tests/gui/test_e2e_pdf_images.py
  tests/gui/test_main_window.py
  tests/gui/test_smoke_boot.py
  tests/gui/test_widgets.py
  tests/test_renderer_registry.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Refresh log trace handling and renderer cache checks
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/widgets.py
  src/pdf_toolbox/renderers/registry.py
  tests/gui/test_widgets.py
  tests/test_renderer_registry.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Refresh exception overview
  DEVELOPMENT_EXCEPTIONS.md
Due: mdformat

Bundle actions and locales in Windows build
  pdf_toolbox.spec
Due: none

Clamp raster search to board limits
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/miro.py
  tests/test_miro.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Fix PySide import ordering in GUI fixtures
  DEVELOPMENT_EXCEPTIONS.md
  tests/gui/conftest_qt.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

Remove PySide6 skips from GUI tests
  DEVELOPMENT_EXCEPTIONS.md
  scripts/check_coverage.py
  scripts/check_locales.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/i18n.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/conftest.py
  tests/gui/conftest_qt.py
  tests/gui/test_e2e_pdf_images.py
  tests/gui/test_main_window.py
  tests/gui/test_smoke_boot.py
  tests/gui/test_widgets.py
  tests/gui/test_worker.py
  typings/fitz/__init__.pyi
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

Tidy coverage stats and GUI import guard
  DEVELOPMENT_EXCEPTIONS.md
  scripts/check_coverage.py
  tests/gui/test_e2e_pdf_images.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

fix: address CodeRabbit review comments
  .gitignore
  pyproject.toml
  scripts/get-coderabbit-comments.sh
Due: none

fix: resolve all linter errors and CodeRabbit comments
  conftest.py
  scripts/get-coderabbit-comments.sh
  tests/test_pytest_slow_policy.py
  tests/test_slow_policy_plugin.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

fix: mark slow tests with @pytest.mark.slow
  tests/gui/test_e2e_pdf_images.py
  tests/gui/test_main_window.py
  tests/gui/test_smoke_boot.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

fix: mark final slow test with @pytest.mark.slow
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/gui/widgets.py
  tests/gui/test_main_window.py
  tests/test_actions_e2e.py
  tests/test_converters.py
  tests/test_github_client.py
  tests/test_i18n_integrity.py
  tests/test_images.py
  tests/test_miro.py
  tests/test_pptx.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

chore: update coderabbit helper
  scripts/get-coderabbit-comments.sh
Due: none

fix: mark slow test in test_pptx_e2e.py
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  scripts/get-coderabbit-comments.sh
  scripts/get_coderabbit_comments.py
  tests/test_pptx_e2e.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

fix: resolve all remaining linting issues
  DEVELOPMENT_EXCEPTIONS.md
  scripts/get_coderabbit_comments.py
  tests/test_pptx_e2e.py
Due: ruff, mypy, bandit, ruff-format, mdformat, pytest, coverage-per-file

fix: validate ocr language availability
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/ocr.py
  src/pdf_toolbox/utils.py
  tests/test_ocr.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

fix: support custom tesseract path
  src/pdf_toolbox/actions/ocr.py
  tests/test_ocr.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

feat(ocr): persist tesseract path in config
  src/pdf_toolbox/actions/ocr.py
  src/pdf_toolbox/config.py
  tests/test_ocr.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

fix: improve tesseract language validation
  DEVELOPMENT_EXCEPTIONS.md
  pyproject.toml
  src/pdf_toolbox/actions/__init__.py
  src/pdf_toolbox/actions/ocr.py
  src/pdf_toolbox/config.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/utils.py
  tests/test_ocr.py
Due: ruff, mypy, bandit, check-locales, ruff-format, mdformat, format-locales, pytest, coverage-per-file

chore: fix ocr lint and locale json
  pyproject.toml
  src/pdf_toolbox/actions/ocr.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
Due: ruff, mypy, bandit, check-locales, ruff-format, format-locales, pytest, coverage-per-file

fix: validate locales and tidy config
  src/pdf_toolbox/config.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
Due: ruff, mypy, bandit, check-locales, ruff-format, format-locales, pytest, coverage-per-file

fix: localize ocr outputs
  src/pdf_toolbox/actions/ocr.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/test_ocr.py
Due: ruff, mypy, bandit, check-locales, ruff-format, format-locales, pytest, coverage-per-file

chore: update locales and exceptions
  DEVELOPMENT_EXCEPTIONS.md
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
Due: check-locales, mdformat, format-locales

Update pyproject.toml
  pyproject.toml
Due: none

fix: honor cancellation during miro export
  src/pdf_toolbox/miro.py
  tests/test_miro.py
Due: ruff, mypy, bandit, ruff-format, pytest, coverage-per-file

Path conditions:
  ruff: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  check-locales: any of: \.json$
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  pretty-format-yaml: any of: \.(yaml|yml)$
  format-locales: any of: ^src/pdf_toolbox/locales/.*\.json$ and \.json$
  pytest: any of: \.py$
  coverage-per-file: any of: \.py$
