Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, mdformat, pretty-format-yaml, ruff, mypy, bandit, pytest, coverage-per-file

ruff-format:
  name: "Ruff:\t\t\tFormat Python"
  entry: ruff format
  language: system
  alias: format

mdformat:
  name: "mdformat:\t\tFormat Markdown"
  entry: mdformat
  language: system
  alias: format

pretty-format-yaml:
  name: "Pretty-format-yaml:\tFormat YAML"
  entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
  language: system
  alias: format

ruff:
  name: "Ruff:\t\t\tLint Python"
  entry: ruff check --fix
  language: system
  alias: lint

mypy:
  name: "mypy:\t\t\tType-check"
  entry: mypy --config-file=pyproject.toml .
  language: system
  pass_filenames: false
  alias: lint

bandit:
  name: "Bandit:\t\t\tScan for security issues"
  entry: bandit -q -r src scripts
  language: system
  pass_filenames: false
  alias: lint

pytest:
  name: "pytest:\t\t\tRun tests with coverage"
  entry: pytest --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
  language: system
  pass_filenames: false
  alias: tests

coverage-per-file:
  name: "Check-coverage:\t\tEnforce per-file coverage"
  entry: python scripts/check_coverage.py
  language: system
  pass_filenames: false
  alias: tests

Document dynamic locale discovery
  pyproject.toml
  scripts/check_locales.py
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/gui/__main__.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/widgets.py
  src/pdf_toolbox/i18n.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/optimize.py
  src/pdf_toolbox/utils.py
  tests/test_i18n_integrity.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

Organize actions and translate names
  pyproject.toml
  scripts/check_locales.py
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/builtin/__init__.py
  src/pdf_toolbox/builtin/docx.py
  src/pdf_toolbox/builtin/extract.py
  src/pdf_toolbox/builtin/images.py
  src/pdf_toolbox/builtin/optimize.py
  src/pdf_toolbox/builtin/repair.py
  src/pdf_toolbox/builtin/unlock.py
  src/pdf_toolbox/docx.py
  src/pdf_toolbox/extract.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/images.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/optimize.py
  src/pdf_toolbox/repair.py
  src/pdf_toolbox/unlock.py
  tests/conftest.py
  tests/test_actions.py
  tests/test_batch_optimize.py
  tests/test_cli.py
  tests/test_converters.py
  tests/test_extract.py
  tests/test_i18n_integrity.py
  tests/test_images.py
  tests/test_optimize.py
  tests/test_optimize_extra.py
  tests/test_optimize_progress.py
  tests/test_validation.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

add locales package
  src/pdf_toolbox/locales/__init__.py
  tests/test_optimize_extra.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

Include locale JSONs in package
  pyproject.toml
Due: none

Fix unbound variable in pretty label builder
  src/pdf_toolbox/gui/main_window.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

fix(i18n): support locales on Windows
  src/pdf_toolbox/i18n.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

Add test guarding against relative imports
  pyproject.toml
  src/pdf_toolbox/docx.py
  src/pdf_toolbox/extract.py
  src/pdf_toolbox/images.py
  src/pdf_toolbox/optimize.py
  src/pdf_toolbox/repair.py
  src/pdf_toolbox/unlock.py
  tests/test_cli.py
  tests/test_no_relative_imports.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

chore: update coverage badge
  coverage.svg
Due: none

Remove CLI interface and legacy module wrappers
  pyproject.toml
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/builtin/docx.py
  src/pdf_toolbox/builtin/extract.py
  src/pdf_toolbox/builtin/optimize.py
  src/pdf_toolbox/builtin/repair.py
  src/pdf_toolbox/builtin/unlock.py
  src/pdf_toolbox/docx.py
  src/pdf_toolbox/extract.py
  src/pdf_toolbox/images.py
  src/pdf_toolbox/optimize.py
  src/pdf_toolbox/repair.py
  src/pdf_toolbox/unlock.py
  tests/test_actions.py
  tests/test_batch_optimize.py
  tests/test_cli.py
  tests/test_converters.py
  tests/test_extract.py
  tests/test_images.py
  tests/test_optimize.py
  tests/test_optimize_extra.py
  tests/test_optimize_progress.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

fix(actions): handle missing module discovery
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/builtin/__init__.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

Import builtin modules eagerly
  src/pdf_toolbox/builtin/__init__.py
  tests/test_actions.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

Rebuild action registry and hide progress callback
  .pre-commit-config.yaml
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/gui/main_window.py
Due: ruff-format, pretty-format-yaml, ruff, mypy, bandit, pytest, coverage-per-file

Group check-locales with other lint hooks
  .pre-commit-config.yaml
Due: pretty-format-yaml

Add module entry point
  pyproject.toml
  src/pdf_toolbox/__main__.py
  tests/test_entrypoint.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

retain real module paths in action fqname
  src/pdf_toolbox/actions.py
  tests/test_actions.py
Due: ruff-format, ruff, mypy, bandit, pytest, coverage-per-file

Rename optimize to optimise and improve i18n
  DEVELOPMENT.md
  README.md
  pyproject.toml
  src/pdf_toolbox/builtin/__init__.py
  src/pdf_toolbox/builtin/optimise.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  tests/test_actions.py
  tests/test_batch_optimise.py
  tests/test_optimise.py
  tests/test_optimise_extra.py
  tests/test_optimise_progress.py
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file

chore: refine agent instructions
  AGENTS.md
  DEVELOPMENT.md
  pyproject.toml
  scripts/AGENTS.md
  src/pdf_toolbox/AGENTS.md
  tests/AGENTS.md
Due: mdformat

docs: document registry and paths
  README.md
  pyproject.toml
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/i18n.py
  src/pdf_toolbox/paths.py
  src/pdf_toolbox/utils.py
  tests/test_actions.py
  tests/test_actions_registry.py
  tests/test_config_cache.py
  tests/test_i18n_autodetect.py
  tests/test_paths_validation.py
  tests/test_utils.py
Due: ruff-format, mdformat, ruff, mypy, bandit, pytest, coverage-per-file

feat: extend ruff rules
  pyproject.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  pretty-format-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  pytest: any of: \.py$
  coverage-per-file: any of: \.py$
