Repository 1cu/pdf_toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, pretty-format-yaml

mdformat:
  name: mdformat
  entry: mdformat
  language: system

pretty-format-yaml:
  name: pretty-format-yaml
  entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
  language: system

Pin actions and handle pip-audit SSL issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/run_pip_audit.py
Due: pretty-format-yaml

Skip pip-audit for editable installs
  scripts/run_pip_audit.py
Due: none

Clarify pip-audit handling for editable installs
  DEVELOPMENT.md
  scripts/run_pip_audit.py
Due: mdformat

Clarify security tooling
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
  pyproject.toml
  scripts/run_pip_audit.py
Due: mdformat

Configure Dependabot
  .github/dependabot.yml
Due: pretty-format-yaml

Group pre-commit hooks by task type
  .pre-commit-config.yaml
Due: none

Group pre-commit hooks with aliases and add badges
  .pre-commit-config.yaml
  DEVELOPMENT.md
  README.md
Due: mdformat

Separate pre-commit groups with meta hooks
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
Due: mdformat

Remove meta hooks from pre-commit config
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
Due: mdformat

Format pre-commit configuration
  .pre-commit-config.yaml
Due: none

document python-only pre-commit hooks
  .pre-commit-config.yaml
  AGENTS.md
Due: mdformat

Clarify pre-commit hooks and guidance
  .pre-commit-config.yaml
  AGENTS.md
Due: mdformat

Automate coverage badge generation
  .pre-commit-config.yaml
  README.md
  coverage.svg
  pyproject.toml
Due: mdformat

Add workflow to update coverage badge
  .github/workflows/coverage.yml
  .pre-commit-config.yaml
  coverage.svg
Due: pretty-format-yaml

chore: pin coverage workflow actions
  .github/workflows/coverage.yml
Due: pretty-format-yaml

fix: rename coverage workflow job
  .github/workflows/coverage.yml
Due: pretty-format-yaml

chore: update coverage badge
  coverage.svg
Due: none

Align hook descriptions with tabs
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: change pre-commit output
  .pre-commit-config.yaml
Due: none

feat(i18n, gui, optimize, tooling): JSON i18n, GUI language setting, launch fix, docs cleanup
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
  README.md
  pyproject.toml
  scripts/check_locales.py
  scripts/format_locales.py
  src/pdf_toolbox/actions.py
  src/pdf_toolbox/gui/__init__.py
  src/pdf_toolbox/gui/__main__.py
  src/pdf_toolbox/gui/config.py
  src/pdf_toolbox/gui/main_window.py
  src/pdf_toolbox/gui/widgets.py
  src/pdf_toolbox/gui/worker.py
  src/pdf_toolbox/i18n.py
  src/pdf_toolbox/images.py
  src/pdf_toolbox/locales/de.json
  src/pdf_toolbox/locales/en.json
  src/pdf_toolbox/optimize.py
  src/pdf_toolbox/utils.py
  src/pdf_toolbox/validation.py
  tests/test_batch_optimize.py
  tests/test_i18n_integrity.py
  tests/test_optimize.py
  tests/test_optimize_extra.py
  tests/test_optimize_progress.py
  tests/test_utils.py
  tests/test_validation.py
Due: mdformat

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  pretty-format-yaml: any of: \.(yaml|yml)$, but not: ^\.pre-commit-config\.yaml$
